name: Deploy server
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Build and push Docker image
        run: |
          echo ecco la situazione com
          echo ${{ secrets.DOCKER_PASSWORD }}
          docker build -t generator-image .
          docker tag generator-image:latest ${{ secrets.DOCKER_REPO_URL }}/generator-image:latest
          docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin ${{ secrets.DOCKER_PASSWORD }}
          docker push ${{ secrets.DOCKER_REPO_URL }}/generator-image:latest
      - name: SSH remote server and deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            sudo docker pull ${{ secrets.DOCKER_REPO_URL }}/generator-image:latest
            sudo docker stop generator-container || true
            sudo docker rm generator-container || true
            sudo docker run -d -p 3000:3000 --name generator-container ${{ secrets.DOCKER_REPO_URL }}/generator-image:latest
